.manage-grid {
    height: calc(99vh - var(--app-shell-header-height) - var(--app-shell-padding));
    background-image: url(/assets/img/in_cabin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.manage-grid>.mantine-Grid-inner {
    height: 100% !important;
}

.manage-controller_column {
    height: 100% !important;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.scale>text {
    /* fill: var(--mantine-color-text); */
    fill: white;
    font-family: var(--mantine-font-family);
    font-size: 16px;
    font-weight: 600;
}

.daq-knob--light__label>label {
    font-family: var(--mantine-font-family);
    font-size: 16px;
    font-weight: 600;
}

.mLADG .knob .base,
.mLADG .knob .indent {
    /* stroke: var(--mantine-color-default-border) !important; */
}

.knob>g>circle {
    /* fill: var(--mantine-color-body) !important; */
}

.daq-knob--light {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}