.manage-grid {
    height: calc(100dvh - var(--app-shell-padding));
    /* height: 100dvh; */
    background-image: url(/assets/img/in_cabin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.manage-grid>.mantine-Grid-inner {
    height: 100% !important;
}

.manage-controller_column {
    height: 100% !important;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.mantine-AppShell-main {
    padding-bottom: 0 !important;
}

.train-stats-table {
    background-color: var(--transparent-background);
    border-radius: var(--mantine-radius-default);
    max-width: max-content;
}

.train-stats-table>tbody>tr>td {
    padding: 5px;
    white-space: inherit;
    vertical-align: middle;
}